/* General Styles */
:root {
    --main-text-color: #2F303A;
    --secondary-title-color: #ffff;
    --link-color: #2196F3;
    --accent-color: #2196F3;
    --contact-color: #757575;
    --secondary-text-color: #757575;
    --background-color: #ffff;
    --footer-color: #2F303A;
    --portfolio-button-color: #F5F4FA;
    --portfolio-button-text: #212121;
    --card-gap: 30px;
    --backdrop: rgba(0, 0, 0, 0.2)
}
*::after, ::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin: 0;

}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*HEADER */

.header-section {
    border-bottom: 1px solid #ECECEC;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    margin-right: 100px;


}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
}

.pages {
    color: var(--main-text-color);
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: calc(16/14);
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pages:hover,
.pages:focus {
    color: var(--link-color);
}

.header-contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contact-item:not(:last-child) {
    margin-right: 50px;
}


.current-page {
    color: var(--link-color);

}
.current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 5px;
   border-radius: 2px;
    background-color: var(--accent-color);
    transform: scaleX(1);
}
.header-contact-link {
    color: var(--contact-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--link-color);
    font-weight: 500;
}
.link-icon {
margin-right: 10px;
fill: currentColor;
}

/* HERO */
.hero-section {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
      url('../images/img17hero.jpg');
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    background-color: var(--link-color);
    cursor: pointer;
    display: block;
    align-items: center;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: backdrop;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.hero-button:hover,
.hero-button:focus {
    background-color: darkblue;
}
/* MODAL WINDOW */


.modal {
    height: 581px;
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    border-radius: 4px;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Modal Close Button */
.modal-button {
    color: #000000;
    background-color: transparent;
    float: right;
    width: 30px;
    height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: backdrop;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button:hover,
.modal-button:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
   
}
.modal-close-icon {
fill: currentColor;
}
 
.is-hidden {
    pointer-events: none;
    opacity: 0%;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    transition-duration:  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.data-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.form-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 20px;
line-height: calc(23.44/20);
text-align: center;
margin-top: 40px;
}
 form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 39px;
 }
 label {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14.06/12);
    color: #757575;
 }


 .data-input {
    position: relative;
    margin-left: 40px;
    margin-top: 4px;
    margin-right: 40px;
    border-radius: 4px;
    overflow: hidden;
 }
 .data-input:hover,
 .data-input:focus {
     color: var(--accent-color);
     border-color: var(--accent-color);
     cursor: pointer; 
    }
.data-input > .input-icon {
position: absolute;
top: 50%;
transform: translateY(-50%);
padding-top: 14px;
padding-left: 14px;
}

.input-icon {
    display: inline-block;
        width: 11px;
        height: 11px;
        fill: currentColor;
}
label > input {
    padding-left: 35px;
    height: 35px;
}
 textarea {
    resize: none;
 }
 .checkbox {
    display: block;
    padding-left: 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    padding-right: 51px;
 }
 .send {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    background-color: var(--link-color);
    cursor: pointer;
    display: block;
    margin-bottom: 40px;
    margin-left: 165px;
    align-items: center;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: backdrop;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
 
/* FEATURES  */
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    justify-content: center;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-item {
    width: 270px;
}

.icon-moderation {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--main-text-color);
    padding-bottom: 10px;
}

.features-text {

    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--secondary-text-color);
}

/* DO */
.do {
    padding-top: 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    color: var(--main-text-color);
    padding-bottom: 50px;
}

.what-we-do-images {
    display: flex;
}

.do-item:not(:last-child) {
    margin-right: 30px;

}
.do-item {
    position: relative;
}
.do-text-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.do-text{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    Line-height: calc(16.41/14);
}
/* TEAM */
.team-members {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    justify-content: center;

}

.team-item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item-description {
    background-color: #ffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.team-title {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
.team-social-media-list {
    list-style: none;
    display:flex;
    justify-content: center;
}
.team-social-media-item:not(:last-child) {
    margin-right: 10px;
}
.social-media-link {
    width: 44px;
    height: 44px;
    background-color: white;
    color: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.social-media-icon {
    fill: currentColor;
}
.social-media-link:hover,
.social-media-link:focus {
    color: #ffff;
   background-color: var(--accent-color);
}
/* REGULAR CUSTOMERS */

.customers-logo-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.customers-logo:not(:last-child) {
    margin-right: 30px;

}

.customer-logo-link {
    color: #AFB1B8;
display: flex;
justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.customer-logo-link:hover,
.customer-logo-link:focus {
    color: var(--accent-color);
}

.logo-icon {
    fill: currentColor;

}

/* FOOTER */
.footer-section {
    background-color: var(--footer-color);
    padding: 60px 0;
 
}
.footer-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
display: flex;
align-items: baseline;


}
.footer-container-left {
    display: block;
    margin-right: 70px;
    
    
}
.footer-container-middle {
    display: flex;
    align-items: flex-start;
flex-direction: column;
}


.footer-logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    margin-bottom: 9px;
    display: block;
}

.footer-addres {
    font-style: normal;
}

.footer-addres-addres {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--secondary-title-color);
    margin-bottom: 2px;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 2px;

}

.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--secondary-title-color);
    opacity: 0.6;
}



.media-title {color:#ffff;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16.41/14);
    margin-bottom: 20px;
}


.footer-social-media-list {
    display: flex;
    justify-content: center;
    }
  
.footer-social-media-link {
width: 44px;
height: 44px;
color:#ffff;
background-color: var(--contact-color);
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus { 
    color:#ffff;
     background-color: var(--accent-color);
    }

.footer-social-media-icon {
    fill: currentColor;
    }

.footer-social-media-item:not(:last-child) {
    margin-right: 10px;
}

.footer-container-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}
.subscription-text {
    color: #ffff;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16.41-14);
    margin-bottom: 20px;
}
.email-subscription {
    display: flex;
    width: 358px;
    height: 50px;
    border-color: #ffff;
    background-color: transparent;
    border: rgba(0, 0, 0, 0.15) 1px;
    border-radius: 4px;
   
}
.subscribe {
width: 200px;
height: 50px;;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
align-items: center;
letter-spacing: 0.06em;
color: var(--secondary-title-color);
background-color: var(--link-color);
cursor: pointer;
display: flex;
margin-top: 20px;
margin-left: 12px;
justify-content: space-evenly;
border-radius: 4px;
padding: 10px 20px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: backdrop;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* PORTFOLIO BUTTONS SECTION */
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.button-item:not(:last-child) {
    margin-right: 8px;

}


.portfolio-filter {
    font-family: 'Roboto', sans-serif;
    color: var(--portfolio-text-color);
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    display: block;
    border-radius: 4px;
    padding: 6px 26px;
    background-color: #F5F4FA;

}

.portfolio-filter:hover,
.portfolio-filter:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO PROJECTS SECTION */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
}

.portfolio-item {
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
    cursor: pointer;
}
  .portfolio-image {
    display: block;
    max-width: 100%;
    height: auto;

}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text
 {
transform: translateY(0);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.overlay {
    position: relative;
    overflow: hidden;
   }


.overlay-text {
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    position: absolute;
    display: block;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.card-content {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
     
}


.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
    margin-top: 4px;
}

.team-title {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 10px;
}
